.page-actions {
    gap: 1em;
    flex-wrap: wrap;
    justify-content: flex-start !important;
}

.page-actions>* {
    margin-left: 0 !important;
}

.pager {
    display: flex;
    justify-content: center;
}

.navbar-custom-menu {
    display: flex !important;
    align-items: center !important;
    gap: 0.5em;
}

.locale-switcher .dropdown-menu>div {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.locale-switcher a {
    display: flex;
    align-items: center;
}

.locale-switcher a img {
    margin-right: 0.5em;
}

.locale-switcher>ul,
.locale-switcher .dropdown-language,
.locale-switcher .dropdown-toggle {
    margin: 0;
    padding: 0;
}

.responsive-header {
    display: none;
}

.responsive-locale-switcher {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.vr {
    height: 2.5em;
}

@media only screen and (max-width: 991.98px) {
    .navbar-custom-menu {
        display: none !important;
    }
    .responsive-header {
        display: flex;
    }
}