{% extends 'app/layout.html.twig' %}
{% trans_default_domain 'app' %}

{% block content %}
    <h1>
        {% if app.user %}
            Hi {{ app.user.getFirstName()~' '~app.user.getLastName()~'!' }}
            <br />
            <a href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            Hi, you are not logged in.
            <br />
            <a href="{{ path('app_login') }}">Log in</a>
        {% endif %}
    </h1>
{% endblock content %}
