@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden bg-gray-900;
}

.btn {
  @apply px-3 py-2 rounded-lg shadow-md transition-colors duration-200 cursor-pointer;
  &.btn-primary {
    @apply bg-blue-500 hover:bg-blue-600 text-white;
  }
}

.alert-container {
  @apply fixed top-3 inset-x-3 z-50;
}

.alert {
  @apply pl-5 border-2 flex justify-between items-center rounded-md shadow-md transition-all duration-300 font-medium text-lg opacity-0 max-h-0 overflow-y-auto transform translate-x-full space-y-3;
  &.alert-danger {
    @apply bg-red-200 text-red-800 border-red-600;
  }
  &.alert-success {
    @apply bg-green-200 text-green-800 border-green-600;
  }
  &.show-alert {
    @apply opacity-95 max-h-screen translate-x-0;
  }
}

.form {
  @apply rounded-lg shadow-lg w-fit mx-auto;
  .form-control {
    @apply relative whitespace-nowrap w-min mb-8;
    input {
      @apply pl-12 pr-3 py-2 bg-gray-100 border-b-[3px] border-blue-300 focus:outline-none transition-colors duration-300;
      &:focus-within, &:not(:placeholder-shown) {
        @apply border-blue-500;
        + label {
          @apply left-0 -top-5 text-black text-sm cursor-default font-normal;
        }
      }
      &:focus-within + label{
        @apply text-blue-700;
      }
    }
    label {
      @apply absolute left-12 top-2 transition-all duration-300 text-gray-500 cursor-text font-light;
    }
    svg {
      @apply absolute top-2 left-3;
    }
  }
  label:not([type="checkbox"] + label):after {
    content: "*";
    @apply text-red-500 ml-1;
  }
  .form-row {
    @apply flex md:gap-8 flex-col md:flex-row;
  }
  svg {
    @apply text-gray-500;
  }
  .form-error {
    @apply text-red-600 whitespace-normal font-medium pl-5;
    ul {
      list-style-type: circle;
    }
  }
  select {
    @apply px-3 py-1.5 text-base shadow-sm font-normal text-gray-700 bg-gray-100 border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
  }
  input[type="checkbox"] {
    @apply w-5 h-5 rounded-md;
  }
}

.navbar {
  @apply flex justify-between md:justify-end space-x-10 items-center relative py-2 px-3;
  .toggle-sidebar {
    @apply md:hidden;
  }
  .logo {
    @apply bg-white rounded-full h-20 hidden md:flex items-center absolute top-1 -left-9;
  }
  .links {
    @apply hidden md:flex space-x-5 items-center;
    span {
      @apply w-[1px] h-7 bg-gray-400;
    }
  }
  .button {
    @apply rounded-full border-2 border-green-500 px-3 py-1 transition-colors duration-200 hover:bg-green-800;
  }
  li hr {
    @apply border border-gray-900 transition-[width] duration-200 w-0;
  }
  li a:hover hr {
    @apply w-full border-gray-100;
  }
  .language-picker {
    @apply px-2 py-1 border border-gray-100 rounded-md relative;
    #language-picker {
      @apply absolute right-0 top-[calc(100%+10px)] space-y-1 bg-gray-800 p-1 rounded-md min-w-[150px];
      li {
        @apply hover:bg-gray-700 transition-colors p-1 rounded-md;
        a {
          @apply flex;
          img {
            @apply mr-1;
          }
        }
      }
    }
  }
  .user-menu {
    @apply rounded-full bg-gray-300 text-gray-900 flex items-center justify-center w-10 h-10 font-medium relative;
    #user-menu {
      @apply absolute -right-1/2 md:right-0 top-[calc(100%+10px)] bg-gray-800 text-gray-100 p-1 rounded-md min-w-[150px] text-left space-y-1;
      a {
        @apply block p-1 transition-colors duration-200 hover:bg-gray-700 rounded-md;
      }
    }
  }
}

#sidebar {
  @apply fixed inset-y-0 w-64 transform translate-x-0 transition-all duration-200 bg-gray-600 p-3 z-50;
  &.hide-sidebar {
    @apply -translate-x-full;
    + .sidebar-overlay {
      @apply -translate-x-full bg-black/0;
    }
  }
  .toggle-sidebar {
    @apply block w-full text-right;
  }
  .links {
    @apply divide-y divide-gray-100;
    li a {
      @apply block p-1 w-full;
    }
  }
  .button {
    @apply border border-green-500 rounded-full px-3 py-1;
  }
}
.sidebar-overlay {
  @apply inset-0 fixed z-40 bg-black/30 backdrop-blur-[1px] transition-colors duration-200 transform translate-x-0;
}
