{% trans_default_domain 'app' %}

<div class="alert alert-{{ type }} show" role="alert">
    {{ message|trans|raw }}
    <button type="button" class="p-5">
        <i class="fa-solid fa-xmark fa-lg"></i>
    </button>
</div>
